language: android
jdk: oraclejdk7
env:
  global:
    - "FTP_USER=ftpdeploy"
    - "FTP_PASSWORD=educationetdeploy"
android:
  components:
    - build-tools-22.0.1
    - android-22
before_install:
 - chmod +x gradlew
script: ./gradlew build
after_success:
    "curl --ftp-create-dirs -T ${TRAVIS_BUILD_DIR}/app/build/outputs/apk/app-debug.apk -u $FTP_USER:$FTP_PASSWORD ftp://129.41.144.220/www/'app-debug'-$(date +%Y%m%dT%H%M%S).'apk'"
deploy:
      provider: releases
      api_key: "c8526dab1810234341695d47e399f7b76e411445"
      file: ${TRAVIS_BUILD_DIR}/app/build/outputs/apk/app-release-unsigned.apk
      on:
        repo: raffysommy/Testappk12
        branch: master
        tags: true
        all_branches: true